<!-- Nav bar -->
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">tutorials</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">home</a></li>
            {% if user.is_authenticated %}
            <li><a href="/account">{{ user.username }}</a></li>
            <li><a href="/logout">logout</a></li>
            {% else %}
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            {% endif%}
            <li><a href="/about">about</a></li>

        </ul>
    </div>
</nav>