<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
   <body>
    <table border="1">
        <tr>
            <th>ID</th>   
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
        </tr>    
    {% for usr in users %}
        <tr>
        <td height="20" width="10">{{usr.user_id}}</td>
        <td height="20" width="200">{{usr.username}}</td> 
        <td height="20" width="250">{{usr.password}}</td>
        <td height="20" width="250">{{usr.email}}</td>
        </tr>

        {% endfor %}    
        </table>
   </body>
</html>


