{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <script>
        var zoomDots = $('#about-dot-zoom-1, #about-dot-zoom-2, #about-dot-zoom-3, #about-dot-zoom-4');
TweenMax.staggerTo(zoomDots, 2, {
    x: '50%',
    y: '50%',
    scale: 0,
    repeat: -1,
    ease: Power2.easeInOut,
    yoyo: true
});
</script>
    <div class="container">
        <div class="about-animation">
            <svg class="svgabout" viewBox="0 0 109 109" style="enable-background:new 0 0 109 109;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #F5F8FA;
                        stroke: #231F20;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st1 {
                        fill: #231F20;
                    }

                    .st2 {
                        fill: #F5F8FA;
                        stroke: #231F20;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }

                    .st3 {
                        fill: none;
                        stroke: #F5F8FA;
                        stroke-width: 1.5;
                        stroke-miterlimit: 10;
                    }

                    .st4 {
                        fill: #F5F8FA;
                    }

                    .st5 {
                        fill: none;
                        stroke: #231F20;
                        stroke-width: 1.5;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }

                    .st6 {
                        fill: #231F20;
                    }

                    .st7 {
                        fill: none;
                        stroke: #231F20;
                        stroke-width: 1.5;
                        stroke-miterlimit: 10;
                    }
                </style>
                <g>
                    <g>
                        <g>
                            <path class="st0" d="M25.3,91.2L25.3,91.2c-14.6-10.7-12.5-26.6,3.2-35.6l0,0c14.7-8.5,37.3-8.5,52,0l0,0
                    c15.6,9,17.8,25,3.2,35.6l0,0C68,102.6,41,102.6,25.3,91.2z" />
                        </g>
                        <g>
                            <path class="st1" d="M80.3,84.5L79,83.7c-0.1-0.1-0.4-0.1-0.5,0l-0.9,0.7c-0.1,0.1-0.1,0.2,0,0.3l1.3,0.8c0.1,0.1,0.4,0.1,0.5,0
                    l0.9-0.7C80.5,84.7,80.5,84.6,80.3,84.5z" />
                            <path class="st1" d="M75.6,88.2l1.7-1.2l0.2-0.2l0.6-0.4c0.1-0.1,0.1-0.2,0-0.3l-1.9-1.2c-0.1-0.1-0.4-0.1-0.5,0L75,85.3
                    c-0.1,0.1-0.1,0.2,0,0.3l0.4,0.2l-1.7,1.2l-0.4-0.2c-0.1-0.1-0.4-0.1-0.5,0l-0.6,0.4c-0.1,0.1-0.1,0.2,0,0.3l2.5,1.7
                    c0.1,0.1,0.4,0.1,0.5,0l0.6-0.5c0.1-0.1,0.1-0.2,0-0.3L75.6,88.2z" />
                        </g>
                    </g>
                    <g>
                        <path class="st2" d="M24.7,71.2L24.7,71.2C9.7,60.6,12,44.6,27.9,35.6l0,0c15-8.5,38.1-8.5,53.2,0l0,0c16,9,18.2,25,3.2,35.6l0,0
                C68.3,82.6,40.7,82.6,24.7,71.2z" />
                        <path id="about-middle-changecolor" class="st1" d="M26.9,69.8C13,60,15,45.2,29.7,36.7c14-8,35.6-8,49.5,0
                C94,45.2,96,60,82.1,69.8C67.3,80.3,41.7,80.3,26.9,69.8z" />
                        <polygon class="st3" points="54.5,75.3 20.7,52.4 54.5,32.4 88.3,52.4        " />
                        <polygon class="st3" points="29.4,68.3 31.7,38 77.3,38 79.6,68.3        " />
                        <g>
                            <path class="st4" d="M53.4,41.8c-0.3,0-0.6,0.2-0.6,0.4c0,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.3,0.1,0.5,0.1c0.3,0,0.6-0.2,0.6-0.4
                    C54,41.9,53.7,41.7,53.4,41.8z" />
                            <path class="st4" d="M37.8,51.2c-0.3,0-0.7,0.1-0.7,0.4c0,0.1,0,0.2,0.2,0.3c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.1,0.7-0.4
                    C38.4,51.4,38.2,51.2,37.8,51.2z" />
                            <path class="st4" d="M60.1,42.3c-0.3-0.1-0.7,0-0.8,0.2c-0.1,0.1,0,0.3,0.1,0.4c0.1,0,0.1,0.1,0.2,0.1c0.3,0.1,0.7,0,0.8-0.2
                    C60.6,42.6,60.5,42.4,60.1,42.3z" />
                            <path class="st4" d="M50.7,42.4c-0.1-0.2-0.4-0.3-0.7-0.3c-0.3,0.1-0.5,0.3-0.4,0.5c0,0.1,0.1,0.1,0.2,0.2
                    c0.1,0.1,0.4,0.1,0.6,0.1C50.6,42.8,50.8,42.6,50.7,42.4z" />
                            <path class="st4" d="M56.8,41.8c-0.3,0-0.6,0.1-0.7,0.3c0,0.1,0,0.2,0.2,0.3c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.6-0.1,0.7-0.3
                    C57.4,42,57.1,41.8,56.8,41.8z" />
                            <path class="st4" d="M38.9,55.8c-0.1-0.2-0.5-0.3-0.8-0.3c-0.3,0.1-0.5,0.3-0.4,0.5c0,0.1,0.1,0.1,0.1,0.2
                    c0.2,0.1,0.4,0.1,0.7,0.1C38.8,56.2,39,56,38.9,55.8z" />
                            <path class="st4" d="M37.6,53.3c-0.3,0-0.6,0.2-0.6,0.4c0,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.3,0.1,0.5,0.1c0.4,0,0.6-0.2,0.6-0.5
                    C38.3,53.5,38,53.3,37.6,53.3z" />
                            <path class="st4" d="M43.7,44.6C43.8,44.6,43.8,44.6,43.7,44.6c0.3,0.2,0.6,0.2,0.9,0.1c0.3-0.1,0.3-0.4,0.1-0.5
                    c-0.2-0.2-0.6-0.2-0.9-0.1C43.6,44.2,43.5,44.4,43.7,44.6z" />
                            <path class="st4" d="M70.1,56.8c0.1,0,0.1,0.1,0.2,0.1c0.3,0.1,0.7,0,0.8-0.2c0.1-0.2,0-0.5-0.4-0.5c-0.3-0.1-0.7,0-0.8,0.2
                    C69.8,56.5,69.9,56.7,70.1,56.8z" />
                            <path class="st4" d="M42.3,46c0.2-0.2,0.2-0.4-0.1-0.5c-0.3-0.1-0.6-0.1-0.9,0.1c-0.2,0.2-0.2,0.4,0,0.5c0,0,0,0,0,0
                    C41.6,46.2,42,46.2,42.3,46z" />
                            <path class="st4" d="M40.2,47.2c-0.3-0.1-0.7,0-0.8,0.2c-0.1,0.2-0.1,0.3,0.1,0.5c0,0,0.1,0.1,0.1,0.1c0.3,0.1,0.7,0,0.8-0.2
                    C40.6,47.5,40.5,47.3,40.2,47.2z" />
                            <path class="st4" d="M40.2,57.7c-0.2-0.2-0.6-0.3-0.9-0.1c-0.3,0.1-0.4,0.4-0.3,0.6c0,0,0.1,0.1,0.1,0.1c0.2,0.1,0.5,0.2,0.8,0.1
                    C40.3,58.2,40.4,57.9,40.2,57.7z" />
                            <path class="st4" d="M38.7,49.1c-0.3-0.1-0.7,0.1-0.8,0.3c-0.1,0.1,0,0.3,0.1,0.4c0.1,0,0.2,0.1,0.3,0.1c0.3,0.1,0.7-0.1,0.8-0.3
                    C39.2,49.4,39,49.1,38.7,49.1z" />
                            <path class="st4" d="M47.6,43c-0.2-0.2-0.5-0.3-0.8-0.2c-0.3,0.1-0.4,0.3-0.3,0.5c0,0,0.1,0.1,0.1,0.1c0.2,0.1,0.5,0.1,0.7,0.1
                    C47.6,43.4,47.7,43.2,47.6,43z" />
                            <path class="st4" d="M54.1,63.1c-0.4,0-0.7,0.2-0.7,0.4c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.3,0.1,0.4,0.1c0.4,0,0.7-0.2,0.7-0.4
                    C54.8,63.3,54.5,63.1,54.1,63.1z" />
                            <path class="st4" d="M72,54.5c0-0.2-0.2-0.4-0.5-0.5c-0.4,0-0.7,0.1-0.7,0.3c0,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.1,0.3,0.1
                    C71.6,54.8,71.9,54.7,72,54.5C72,54.5,72,54.5,72,54.5z" />
                            <path class="st4" d="M71.6,50c-0.1-0.2-0.4-0.3-0.8-0.3c-0.3,0-0.5,0.3-0.5,0.5c0,0.1,0.1,0.1,0.2,0.2c0.2,0.1,0.4,0.1,0.6,0.1
                    C71.5,50.4,71.7,50.2,71.6,50z" />
                            <path class="st4" d="M71.5,51.8c-0.3,0-0.6,0.2-0.6,0.4c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.3,0.1,0.5,0.1c0.4,0,0.6-0.2,0.6-0.4
                    C72.1,52,71.8,51.8,71.5,51.8z" />
                            <path id="about-dot-zoom-4" class="st4" d="M57.6,62.9c-0.4,0-0.6,0.3-0.5,0.5c0,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.4,0.1,0.6,0.1
                    c0.4,0,0.6-0.3,0.5-0.5C58.3,63.1,57.9,62.9,57.6,62.9z" />
                            <path class="st4" d="M61.7,62.6c-0.1-0.2-0.5-0.3-0.9-0.2c-0.3,0.1-0.5,0.3-0.4,0.6c0,0.1,0.1,0.1,0.1,0.1
                    c0.2,0.1,0.5,0.2,0.7,0.1C61.7,63,61.8,62.8,61.7,62.6z" />
                            <path class="st4" d="M67.3,59.9c-0.3-0.2-0.7-0.2-0.9,0c-0.2,0.2-0.2,0.4,0,0.6c0.3,0.2,0.7,0.2,0.9,0
                    C67.6,60.3,67.6,60.1,67.3,59.9z" />
                            <path id="about-dot-zoom-3" class="st4" d="M64.7,61.4c-0.2-0.2-0.6-0.3-0.9-0.1c-0.3,0.1-0.4,0.4-0.2,0.6c0,0,0.1,0,0.1,0.1
                    c0.2,0.1,0.6,0.2,0.8,0.1C64.9,61.9,65,61.6,64.7,61.4z" />
                            <path id="about-dot-zoom-2" class="st4" d="M50.7,62.8L50.7,62.8c-0.3-0.1-0.7,0.1-0.8,0.3c-0.1,0.2,0,0.3,0.2,0.4
                    c0.1,0.1,0.2,0.1,0.3,0.1c0.3,0.1,0.7-0.1,0.8-0.3C51.3,63.1,51.1,62.9,50.7,62.8z" />
                            <path class="st4" d="M66.1,44.4c-0.3-0.1-0.6-0.1-0.9,0c-0.2,0.1-0.2,0.4,0,0.5c0,0,0,0,0,0c0.3,0.1,0.6,0.1,0.9,0
                    C66.4,44.8,66.3,44.6,66.1,44.4z" />
                            <path class="st4" d="M42.1,59.5c-0.2-0.2-0.6-0.2-0.9,0c-0.3,0.2-0.3,0.4-0.1,0.6c0,0,0,0,0,0c0.2,0.2,0.6,0.2,0.9,0
                    C42.3,59.9,42.4,59.6,42.1,59.5z" />
                            <path id="about-dot-zoom-1" class="st4" d="M44.6,61c-0.3-0.1-0.7-0.1-0.9,0.1c-0.2,0.2-0.2,0.4,0,0.6c0,0,0,0,0.1,0
                    c0.3,0.1,0.7,0.1,0.9-0.1C44.9,61.4,44.9,61.1,44.6,61z" />
                            <path class="st4" d="M47.5,62.1c-0.3-0.1-0.7,0-0.9,0.2c-0.1,0.2-0.1,0.4,0.1,0.5c0.1,0,0.1,0.1,0.2,0.1c0.3,0.1,0.7,0,0.9-0.2
                    C48,62.4,47.8,62.2,47.5,62.1z" />
                            <path class="st4" d="M70.3,47.9c-0.1-0.2-0.5-0.3-0.8-0.2c-0.3,0.1-0.4,0.3-0.3,0.5l0,0c0,0,0.1,0.1,0.1,0.1
                    c0.2,0.1,0.5,0.1,0.7,0.1C70.4,48.3,70.5,48.1,70.3,47.9z" />
                            <path class="st4" d="M68.5,46c-0.2-0.2-0.6-0.2-0.9-0.1c-0.3,0.1-0.3,0.4-0.1,0.5c0,0,0,0,0.1,0c0.2,0.1,0.6,0.2,0.8,0
                    C68.6,46.4,68.7,46.2,68.5,46z" />
                            <path class="st4" d="M63.3,43.2C63.3,43.2,63.3,43.2,63.3,43.2c-0.3-0.1-0.7,0-0.8,0.1c-0.1,0.2-0.1,0.3,0.1,0.5
                    c0,0,0.1,0,0.1,0.1c0.3,0.1,0.7,0,0.8-0.1C63.7,43.5,63.6,43.3,63.3,43.2z" />
                        </g>
                    </g>
                    <g>
                        <path class="st0" d="M25.3,51.1L25.3,51.1c-14.6-10.6-12.5-26.5,3.2-35.5l0,0c14.7-8.5,37.3-8.5,52,0l0,0
                c15.6,9,17.8,24.9,3.2,35.5l0,0C68,62.5,41,62.5,25.3,51.1z" />
                        <g id="clock-timeline">
                            <g>
                                <path class="st5" d="M36,20.4c10.4-6.2,26.7-6.2,37.1,0l0,0C83.9,26.9,85,38,74.6,45.3l0,0c-10.9,7.6-29.3,7.6-40.2,0l0,0
                        C26,39.3,25.6,31.4,30,25.6" />
                                <g>
                                    <polygon class="st6" points="30.1,29.5 29.7,25.9 26.1,26.3 27.5,24.6 31.1,24.3 31.4,27.9                    " />
                                </g>
                            </g>
                        </g>
                        <g>
                            <path class="st6" d="M63.7,26.4c-0.3-0.2-0.3-0.5,0-0.7l6.4-4.1c0.3-0.2,0.8-0.2,1.1,0c0.3,0.2,0.3,0.5,0,0.7l-6.4,4.1
                    C64.6,26.6,64.1,26.6,63.7,26.4z" />
                        </g>
                        <g>
                            <path class="st6" d="M69.4,43l-6-3.9c-0.5-0.3-0.5-0.8,0-1.1c0.4-0.3,1.2-0.3,1.6,0l6,3.9c0.5,0.3,0.5,0.8,0.1,1.1
                    C70.6,43.3,69.8,43.3,69.4,43z" />
                        </g>
                        <g>
                            <path class="st7" d="M67,40.4C60.2,45,48.8,45,42,40.4c-6.6-4.5-6.2-11.5,0.6-15.7c6.7-4.1,17.2-4.1,23.8,0
                    C73.2,28.9,73.7,35.9,67,40.4z" />
                            <g>
                                <path class="st1" d="M48.4,29.9c-1.7,1.9-1.9,4.4,0.6,6c2.5,1.6,6.4,1.5,9.4,0.5c0.8,0.3,2,0.2,2.9-0.2c1.4-0.6,2-1.6,1.3-2.3
                        c0,0,0,0,0,0c2.3-2.2,2-4.7-0.6-6.4c-2.6-1.6-6.5-1.7-9.9-0.3c0,0,0,0-0.1,0c-1.1-0.4-2.6,0-3.4,0.9
                        C48.1,28.7,48,29.4,48.4,29.9z M54.9,28.8c1,0.6,1.1,1.6,0.3,2.4l1.3,0.8c1.1-0.5,2.7-0.4,3.7,0.2c1.1,0.7,1.2,1.9,0,2.6
                        c-1.1,0.7-3,0.7-4.1,0c-1-0.7-1.1-1.7-0.3-2.4l-1.3-0.8c-1.1,0.5-2.7,0.4-3.7-0.2c-1.1-0.7-1.1-1.9,0-2.6
                        C51.9,28,53.7,28,54.9,28.8z" />
                                <g>
                                    <path class="st1" d="M49.7,40l0,0.4c0.2,0,0.4-0.1,0.5-0.2c0.4-0.3,0.4-0.7,0-0.9c-0.4-0.2-1-0.3-1.4,0c-0.4,0.2-0.4,0.7,0,0.9
                            c0.1,0.1,0.2,0.1,0.3,0.1l0-0.4L49.7,40z" />
                                    <polygon class="st1" points="49.4,40.1 49.4,40.1 49.4,40.6 49.8,40.6 49.8,40.6 49.4,40.6                    " />
                                    <path class="st1" d="M51.5,37.6c-0.5,0-1.9-0.2-3.3-1.1c-1.4-1-1.8-2-1.8-2.3c-2.4-1.6-6.4-1.6-9-0.2c0.4,2.3,2,4.5,4.6,6.3
                            c2.7,1.8,6.2,2.9,9.8,3.3C54.1,42,54.1,39.3,51.5,37.6z M48.5,40.5c-0.6-0.4-0.6-1,0-1.4c0.6-0.4,1.5-0.4,2.1,0
                            c0.6,0.4,0.6,1,0,1.4C50,40.8,49,40.8,48.5,40.5z" />
                                </g>
                                <path class="st1" d="M56.6,34.4c0.9,0.6,2.2,0.6,3.1,0c0.8-0.5,0.8-1.4,0-2c-0.9-0.5-2.2-0.5-3.1,0C55.7,33,55.7,33.9,56.6,34.4
                        z" />
                                <path class="st1" d="M51.3,31c0.8,0.5,2.2,0.5,3,0c0.8-0.5,0.8-1.4,0-1.9c-0.8-0.5-2.2-0.5-3,0C50.5,29.6,50.5,30.5,51.3,31z" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="circle-animation">
                <span class="dot no1"></span>
                <span class="dot no2"></span>
                <span class="dot no3"></span>
                <span class="dot no4"></span>
                <span class="dot no5"></span>
                <span class="dot no6"></span>
                <span class="dot no7"></span>
                <span class="dot no8"></span>
                <span class="dot no9"></span>
                <span class="dot no10"></span>
                <span class="dot no11"></span>
                <span class="dot no12"></span>
                <span class="dot no13"></span>
                <span class="dot no14"></span>
                <span class="dot no15"></span>
            </div>
        </div>
    </div>
    <style>
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .about-animation {
            width: 100%;
            height: 275px;
            position: relative;
        }

        .svgabout {
            width: 15%;
            min-width: 165px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            color: #231f20;
            transform: translate(-50%, -50%);
            z-index: 20;
        }

        #clock-timeline {
            -webkit-stroke-dasharray: 200;
            -ms-stroke-dasharray: 200;
            stroke-dasharray: 200;

            -webkit-stroke-dashoffset: 0;
            -ms-stroke-dashoffset: 0;
            stroke-dashoffset: 0;

            -webkit-animation: dashtwo 10s linear infinite;
            -ms-animation: dashtwo 10s linear infinite;
            animation: dashtwo 10s linear infinite;
        }

        @-webkit-keyframes dashtwo {
            from {
                stroke-dashoffset: 200;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        @-ms-keyframes dashtwo {
            from {
                stroke-dashoffset: 200;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes dashtwo {
            from {
                stroke-dashoffset: 200;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        #about-middle-changecolor {
            -webkit-animation-name: changecolour6;
            -webkit-animation-duration: 20s;
            -webkit-animation-iteration-count: infinite;

            -ms-animation-name: changecolour6;
            -ms-animation-duration: 20s;
            -ms-animation-iteration-count: infinite;

            animation-name: changecolour6;
            animation-duration: 20s;
            animation-iteration-count: infinite;
        }

        @-webkit-keyframes changecolour6 {
            0% {
                fill: #231f20;
            }

            50% {
                fill: #141F3D;
            }

            100% {
                fill: #231f20;
            }
        }

        @-ms-keyframes changecolour6 {
            0% {
                fill: #231f20;
            }

            50% {
                fill: #141F3D;
            }

            100% {
                fill: #231f20;
            }
        }

        @keyframes changecolour6 {
            0% {
                fill: #231f20;
            }

            50% {
                fill: #141F3D;
            }

            100% {
                fill: #231f20;
            }
        }

        @media screen and (max-width: 599px) {
            span.dot:after {
                background-color: #ef4138 !important;
            }
        }

        .parallax-inner-hi {
            width: 100%;
            height: 450px;
            position: relative;
        }

        .svghi {
            width: 30%;
            min-width: 165px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            color: #231f20;
            z-index: 20;

            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .svghi #hi-deco {
            -webkit-stroke-dasharray: 200;
            -ms-stroke-dasharray: 200;
            stroke-dasharray: 200;

            -webkit-stroke-dashoffset: 0;
            -ms-stroke-dashoffset: 0;
            stroke-dashoffset: 0;

            -webkit-animation: dashtwo 6s linear forwards;
            -ms-animation: dashtwo 6s linear forwards;
            animation: dashtwo 6s linear forwards;
        }

        }

        /* Animation - credit to Florian Wirtz*/
        .circle-animation {
            border-radius: 50%;
            background: transparent;
            z-index: 10;
        }

        span.dot {
            position: absolute;
            width: 10px;
            height: 100%;
            top: 0;
            left: 50%;
            margin-left: -8px;
        }

        span.dot:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 10px;
            height: 10px;
            background-color: #231f20;
            border-radius: 50%;
        }

        .circle-animation {
            width: 235px;
            height: 235px;
            margin: -120px 0 0 -120px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-animation: animatedEight 30s linear infinite;
            -ms-animation: animatedEight 30s linear infinite;
            animation: animatedEight 30s linear infinite;
        }

        @-webkit-keyframes animatedEight {
            from {
                -webkit-transform: rotate(-45deg);
            }

            to {
                -webkit-transform: rotate(-405deg);
            }
        }

        @-ms-keyframes animatedEight {
            from {
                -webkit-transform: rotate(-45deg);
            }

            to {
                -webkit-transform: rotate(-405deg);
            }
        }

        @keyframes animatedEight {
            from {
                transform: rotate(-45deg);
            }

            to {
                transform: rotate(-405deg);
            }
        }

        span.dot.no1 {
            -webkit-animation: animatedDotOne 15s ease infinite;
            -ms-animation: animatedDotOne 15s ease infinite;
            animation: animatedDotOne 15s ease infinite;
        }

        @-webkit-keyframes animatedDotOne {

            0%,
            58%,
            100% {
                -webkit-transform: translate(0, 0);
            }

            8%,
            50% {
                -webkit-transform: translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotOne {

            0%,
            58%,
            100% {
                -webkit-transform: translate(0, 0);
            }

            8%,
            50% {
                -webkit-transform: translate(0, 224px);
            }
        }

        @keyframes animatedDotOne {

            0%,
            58%,
            100% {
                transform: translate(0, 0);
            }

            8%,
            50% {
                transform: translate(0, 224px);
            }
        }

        span.dot.no2 {
            -webkit-animation: animatedDotTwo 15s ease infinite;
            -ms-animation: animatedDotTwo 15s ease infinite;
            animation: animatedDotTwo 15s ease infinite;
        }

        @-webkit-keyframes animatedDotTwo {

            0%,
            2%,
            60%,
            100% {
                -webkit-transform: rotate(24deg) translate(0, 0);
            }

            10%,
            52% {
                -webkit-transform: rotate(24deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotTwo {

            0%,
            2%,
            60%,
            100% {
                -webkit-transform: rotate(24deg) translate(0, 0);
            }

            10%,
            52% {
                -webkit-transform: rotate(24deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotTwo {

            0%,
            2%,
            60%,
            100% {
                transform: rotate(24deg) translate(0, 0);
            }

            10%,
            52% {
                transform: rotate(24deg) translate(0, 224px);
            }
        }

        span.dot.no3 {
            -webkit-animation: animatedDotThree 15s ease infinite;
            -ms-animation: animatedDotThree 15s ease infinite;
            animation: animatedDotThree 15s ease infinite;
        }

        @-webkit-keyframes animatedDotThree {

            0%,
            4%,
            62%,
            100% {
                -webkit-transform: rotate(48deg) translate(0, 0);
            }

            12%,
            54% {
                -webkit-transform: rotate(48deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotThree {

            0%,
            4%,
            62%,
            100% {
                -webkit-transform: rotate(48deg) translate(0, 0);
            }

            12%,
            54% {
                -webkit-transform: rotate(48deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotThree {

            0%,
            4%,
            62%,
            100% {
                transform: rotate(48deg) translate(0, 0);
            }

            12%,
            54% {
                transform: rotate(48deg) translate(0, 224px);
            }
        }

        span.dot.no4 {
            -webkit-animation: animatedDotFour 15s ease infinite;
            -ms-animation: animatedDotFour 15s ease infinite;
            animation: animatedDotFour 15s ease infinite;
        }

        @-webkit-keyframes animatedDotFour {

            0%,
            6%,
            64%,
            100% {
                -webkit-transform: rotate(72deg) translate(0, 0);
            }

            14%,
            56% {
                -webkit-transform: rotate(72deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotFour {

            0%,
            6%,
            64%,
            100% {
                -webkit-transform: rotate(72deg) translate(0, 0);
            }

            14%,
            56% {
                -webkit-transform: rotate(72deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotFour {

            0%,
            6%,
            64%,
            100% {
                transform: rotate(72deg) translate(0, 0);
            }

            14%,
            56% {
                transform: rotate(72deg) translate(0, 224px);
            }
        }

        span.dot.no5 {
            -webkit-animation: animatedDotFive 15s ease infinite;
            -ms-animation: animatedDotFive 15s ease infinite;
            animation: animatedDotFive 15s ease infinite;
        }

        @-webkit-keyframes animatedDotFive {

            0%,
            8%,
            66%,
            100% {
                -webkit-transform: rotate(96deg) translate(0, 0);
            }

            16%,
            58% {
                -webkit-transform: rotate(96deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotFive {

            0%,
            8%,
            66%,
            100% {
                -webkit-transform: rotate(96deg) translate(0, 0);
            }

            16%,
            58% {
                -webkit-transform: rotate(96deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotFive {

            0%,
            8%,
            66%,
            100% {
                transform: rotate(96deg) translate(0, 0);
            }

            16%,
            58% {
                transform: rotate(96deg) translate(0, 224px);
            }
        }

        span.dot.no6 {
            -webkit-animation: animatedDotSix 15s ease infinite;
            -ms-animation: animatedDotSix 15s ease infinite;
            animation: animatedDotSix 15s ease infinite;
        }

        @-webkit-keyframes animatedDotSix {

            0%,
            10%,
            68%,
            100% {
                -webkit-transform: rotate(120deg) translate(0, 0);
            }

            18%,
            60% {
                -webkit-transform: rotate(120deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotSix {

            0%,
            10%,
            68%,
            100% {
                -webkit-transform: rotate(120deg) translate(0, 0);
            }

            18%,
            60% {
                -webkit-transform: rotate(120deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotSix {

            0%,
            10%,
            68%,
            100% {
                transform: rotate(120deg) translate(0, 0);
            }

            18%,
            60% {
                transform: rotate(120deg) translate(0, 224px);
            }
        }

        span.dot.no7 {
            -webkit-animation: animatedDotSeven 15s ease infinite;
            -ms-animation: animatedDotSeven 15s ease infinite;
            animation: animatedDotSeven 15s ease infinite;
        }

        @-webkit-keyframes animatedDotSeven {

            0%,
            12%,
            70%,
            100% {
                -webkit-transform: rotate(144deg) translate(0, 0);
            }

            20%,
            62% {
                -webkit-transform: rotate(144deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotSeven {

            0%,
            12%,
            70%,
            100% {
                -webkit-transform: rotate(144deg) translate(0, 0);
            }

            20%,
            62% {
                -webkit-transform: rotate(144deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotSeven {

            0%,
            12%,
            70%,
            100% {
                transform: rotate(144deg) translate(0, 0);
            }

            20%,
            62% {
                transform: rotate(144deg) translate(0, 224px);
            }
        }

        span.dot.no8 {
            -webkit-animation: animatedDotEight 15s ease infinite;
            -ms-animation: animatedDotEight 15s ease infinite;
            animation: animatedDotEight 15s ease infinite;
        }

        @-webkit-keyframes animatedDotEight {

            0%,
            14%,
            72%,
            100% {
                -webkit-transform: rotate(168deg) translate(0, 0);
            }

            22%,
            64% {
                -webkit-transform: rotate(168deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotEight {

            0%,
            14%,
            72%,
            100% {
                -webkit-transform: rotate(168deg) translate(0, 0);
            }

            22%,
            64% {
                -webkit-transform: rotate(168deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotEight {

            0%,
            14%,
            72%,
            100% {
                transform: rotate(168deg) translate(0, 0);
            }

            22%,
            64% {
                transform: rotate(168deg) translate(0, 224px);
            }
        }

        span.dot.no9 {
            -webkit-animation: animatedDotNine 15s ease infinite;
            -ms-animation: animatedDotNine 15s ease infinite;
            animation: animatedDotNine 15s ease infinite;
        }

        @-webkit-keyframes animatedDotNine {

            0%,
            16%,
            74%,
            100% {
                -webkit-transform: rotate(192deg) translate(0, 0);
            }

            24%,
            66% {
                -webkit-transform: rotate(192deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotNine {

            0%,
            16%,
            74%,
            100% {
                -webkit-transform: rotate(192deg) translate(0, 0);
            }

            24%,
            66% {
                -webkit-transform: rotate(192deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotNine {

            0%,
            16%,
            74%,
            100% {
                transform: rotate(192deg) translate(0, 0);
            }

            24%,
            66% {
                transform: rotate(192deg) translate(0, 224px);
            }
        }

        span.dot.no10 {
            -webkit-animation: animatedDotTen 15s ease infinite;
            -ms-animation: animatedDotTen 15s ease infinite;
            animation: animatedDotTen 15s ease infinite;
        }

        @-webkit-keyframes animatedDotTen {

            0%,
            18%,
            76%,
            100% {
                -webkit-transform: rotate(216deg) translate(0, 0);
            }

            26%,
            68% {
                -webkit-transform: rotate(216deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotTen {

            0%,
            18%,
            76%,
            100% {
                -webkit-transform: rotate(216deg) translate(0, 0);
            }

            26%,
            68% {
                -webkit-transform: rotate(216deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotTen {

            0%,
            18%,
            76%,
            100% {
                transform: rotate(216deg) translate(0, 0);
            }

            26%,
            68% {
                transform: rotate(216deg) translate(0, 224px);
            }
        }

        span.dot.no11 {
            -webkit-animation: animatedDotEleven 15s ease infinite;
            -ms-animation: animatedDotEleven 15s ease infinite;
            animation: animatedDotEleven 15s ease infinite;
        }

        @-webkit-keyframes animatedDotEleven {

            0%,
            20%,
            78%,
            100% {
                -webkit-transform: rotate(240deg) translate(0, 0);
            }

            28%,
            70% {
                -webkit-transform: rotate(240deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotEleven {

            0%,
            20%,
            78%,
            100% {
                -webkit-transform: rotate(240deg) translate(0, 0);
            }

            28%,
            70% {
                -webkit-transform: rotate(240deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotEleven {

            0%,
            20%,
            78%,
            100% {
                transform: rotate(240deg) translate(0, 0);
            }

            28%,
            70% {
                transform: rotate(240deg) translate(0, 224px);
            }
        }

        span.dot.no12 {
            -webkit-animation: animatedDotTwelve 15s ease infinite;
            -ms-animation: animatedDotTwelve 15s ease infinite;
            animation: animatedDotTwelve 15s ease infinite;
        }

        @-webkit-keyframes animatedDotTwelve {

            0%,
            22%,
            80%,
            100% {
                -webkit-transform: rotate(264deg) translate(0, 0);
            }

            30%,
            72% {
                -webkit-transform: rotate(264deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotTwelve {

            0%,
            22%,
            80%,
            100% {
                -webkit-transform: rotate(264deg) translate(0, 0);
            }

            30%,
            72% {
                -webkit-transform: rotate(264deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotTwelve {

            0%,
            22%,
            80%,
            100% {
                transform: rotate(264deg) translate(0, 0);
            }

            30%,
            72% {
                transform: rotate(264deg) translate(0, 224px);
            }
        }

        span.dot.no13 {
            -webkit-animation: animatedDotThirteen 15s ease infinite;
            -ms-animation: animatedDotThirteen 15s ease infinite;
            animation: animatedDotThirteen 15s ease infinite;
        }

        @-webkit-keyframes animatedDotThirteen {

            0%,
            24%,
            82%,
            100% {
                -webkit-transform: rotate(288deg) translate(0, 0);
            }

            32%,
            74% {
                -webkit-transform: rotate(288deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotThirteen {

            0%,
            24%,
            82%,
            100% {
                -webkit-transform: rotate(288deg) translate(0, 0);
            }

            32%,
            74% {
                -webkit-transform: rotate(288deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotThirteen {

            0%,
            24%,
            82%,
            100% {
                transform: rotate(288deg) translate(0, 0);
            }

            32%,
            74% {
                transform: rotate(288deg) translate(0, 224px);
            }
        }

        span.dot.no14 {
            -webkit-animation: animatedDotFourteen 15s ease infinite;
            -ms-animation: animatedDotFourteen 15s ease infinite;
            animation: animatedDotFourteen 15s ease infinite;
        }

        @-webkit-keyframes animatedDotFourteen {

            0%,
            26%,
            84%,
            100% {
                -webkit-transform: rotate(312deg) translate(0, 0);
            }

            34%,
            76% {
                -webkit-transform: rotate(312deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotFourteen {

            0%,
            26%,
            84%,
            100% {
                -webkit-transform: rotate(312deg) translate(0, 0);
            }

            34%,
            76% {
                -webkit-transform: rotate(312deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotFourteen {

            0%,
            26%,
            84%,
            100% {
                transform: rotate(312deg) translate(0, 0);
            }

            34%,
            76% {
                transform: rotate(312deg) translate(0, 224px);
            }
        }

        span.dot.no15 {
            -webkit-animation: animatedDotFifteen 15s ease infinite;
            -ms-animation: animatedDotFifteen 15s ease infinite;
            animation: animatedDotFifteen 15s ease infinite;
        }

        @-webkit-keyframes animatedDotFifteen {

            0%,
            28%,
            86%,
            100% {
                -webkit-transform: rotate(336deg) translate(0, 0);
            }

            36%,
            78% {
                -webkit-transform: rotate(336deg) translate(0, 224px);
            }
        }

        @-ms-keyframes animatedDotFifteen {

            0%,
            28%,
            86%,
            100% {
                -webkit-transform: rotate(336deg) translate(0, 0);
            }

            36%,
            78% {
                -webkit-transform: rotate(336deg) translate(0, 224px);
            }
        }

        @keyframes animatedDotFifteen {

            0%,
            28%,
            86%,
            100% {
                transform: rotate(336deg) translate(0, 0);
            }

            36%,
            78% {
                transform: rotate(336deg) translate(0, 224px);
            }
        }
    </style>
</div>
{% endblock %}