{% extends "main/base.html" %}
{% block content %}
<div class="row">
    {% for tut in tutorials %}
    <div class="col s12 m6">
        <div class="card-panel teal lighten-2">
            <div class="card-panel white">
                <div class="card-content dark-text">
                    <span class="card-title text-darken-2"><strong>{{ tut.tutorial_title}}</strong></span>
                    <p style="font-size:70%">{{ tut.tutorial_content|safe}}</p>
                </div>
            </div>
            <div class="card-action dark-text">
                <div class="card-panel white">
                    <a href="#">###</a>
                    <a href="#">@@@</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}