<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home'%}">mysite</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <ion-icon name="home"></ion-icon>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'secret' %}" class="nav-link">
                    <ion-icon name="lock"></ion-icon>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'secret2' %}" class="nav-link">
                    <ion-icon name="nuclear"></ion-icon>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'password_change' %}" class="nav-link">
                    <ion-icon name="key"></ion-icon>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <ion-icon name="log-out"></ion-icon>
                </a>
            </li>
            <li class="nav-item">
                <strong style="color:cyan">{{ user.username}}<ion-icon name="person"></ion-icon></strong>
            </li>

            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">
                    <ion-icon name="person-add"></ion-icon>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">
                    <ion-icon name="log-in"></ion-icon>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <hr class="mt-0 mb-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</body>

</html>