{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}"> {% if title %}
    <link href="{% static 'blog/style.scss' %}" rel="stylesheet/scss" type="text/css">

    <title>blog - {{ title }}</title>
    {% else %}
    <title>myBlog</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="btn-pluss-wrapper">
            <h2 class="tooltip">myblog</h2>
            <div href="#" class="btn-pluss">
                <ul>
                    <li><a href="{% url 'blog-home' %}">home</a></li>
                    <li><a href="{% url 'blog-about' %}">About</a></li>
                    <div>
                        {% if user.is_authenticated%}
                        <li><a href="{% url 'post-create' %}">new post</a></li>
                        <li><a href="{% url 'profile' %}">profile</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                        {% else%}
                        <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'register' %}">register</a></li>
                        {% endif%}
                    </div>
                </ul>
            </div>
        </nav>

    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %} {% for message in messages %}
                <div class="alert aler-{{ message.tags}}">
                    {{ message }}
                </div>
                {% endfor%} {% endif%} {% block content %}{% endblock %}
    </main>
</body>

</html>