<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="background-color: aqua">

    {% include "includes/navbar.html"%}
    {% include "includes/messages.html"%}

    <div class="container">
        {% block content%}
        {% endblock %}
    </div>

    <!-- Prism JS -->
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
</body>